@{
    ViewBag.Title = "Test Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

<ol>
    <li>@Html.ActionLink("Custom Tiles", "Index", "CustomTiles")
    </li>
</ol>
</body>
</html>
